# Playwright
node_modules/
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# system / local installs (IMPORTANT for your case)
nodejs/
npx
Antigravity IDE/
.github/